<% content_for :page_title do %>
  <h1><dev class="coolTitle">Hello, Rails!</dev></h1>
<% end %>

<h2> With Rails we will build our app!!</h2>
<p> This is our new app!! It concerns food so it must be amazing!</p>

<img src="/assets/last-supper.jpg" alt="The Last Supper"/>
