<h1>Hello, Rails!</h1>
<h2 class="one"> With Rails we will build our app!!</h2>
<p>This is our new app!! It concerns food so it must be amazing!</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised in
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker including
  versions of Lorem Ipsum.
</p>
<img src="/assets/last-supper.jpg" alt="The Last Supper"/>
