<h1>Hello, Rails!</h1>
<h2> With Rails we will build our app!!</h2>
<p>This is our new app!! It concerns food so it must be amazing!</p>
<img src="http://img.wallpaperfolder.com/f/7963C87EDFC7/jesus-last-supper-images-backgrounds.jpg"/>
