<% content_for :page_title do %>
  <h1><dev class="coolTitle">Hello, Rails!</dev></h1>
<% end %>

<h2> With Rails we will build our app!!</h2>
<p> This is our new app!! It concerns food so it must be amazing!</p>
<p>Sint duis ullamco anim ex veniam cillum labore. <br> Quis ad elit sint laborum dolore sit exercitation sint incididunt ad amet laboris aute magna consequat. <br>Aute anim fugiat quis laboris non excepteur aliquip labore occaecat do ex.
</p>
<p> You can try growing an appetite looking at <a target="_blank" href="http://minimalistbaker.com/">this amazing website</a> of vegan baking
</p>
<img src="/assets/last-supper.jpg" alt="The Last Supper"/>
