<h1>Welcome Foodies!</h1>

<p>Have you ever find yourself with a random collection of ingredients you didn't know how to use togrther?. <br> Then this app is exacly what you have been looking for!. <br>Type in your ingredianes and let the magic begin :)</p>
<p> You can try growing an appetite looking at <a target="_blank" href="http://minimalistbaker.com/">this amazing website</a> of vegan baking
</p>
