<h1>Welcome Foodies!</h1>
<p>Did you eve got stuck with different groceries in your kitchen and didn't know what to do with them??</p>
<p>This is why we are here! simly load your groceries list to this site and find new and exciting recipies!</p>
