<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ruby Sprauts</a>
    </div>

    <div class="collapse navbar-collapse">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</nav>
